@model Project_management.Models.Project

<h1>Project Details</h1>

<div>
    <h3>Project ID: @Model.Id</h3>
    <h3>Project Name: @Model.Name</h3>
</div>

<h2>Associated Tickets</h2>


@if (Model.Tickets.Count > 0)
{
    <ul>
        @foreach (var ticket in Model.Tickets)
        {
            <li>
                Ticket ID: @ticket.Id <br />
                Ticket Title: @ticket.Title <br />
                Ticket Status: @ticket.Status
            </li>
        }
    </ul>
}
else
{
    <p>No tickets associated with this project.</p>
}
